{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}square brains{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{{site.logo.url}}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/1ca4691ddb.js" crossorigin="anonymous"></script>
    <style>
      .alert {
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
      }
      .alert.success {
        background-color: #4CAF50;
      }
      .alert.info {
        background-color: #2196F3;
      }
      .alert.error {
        background-color: #f44336;
      }
      .alert.warning {
        background-color: #ff9800;
      }
    </style>
    <script>
      {% block js %}{% endblock js %}
    </script>
</head>
<body>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
    <div class="header" id="hder">
        <div class="top_menu">
            <div class="logo">
                <a href="{% url "square:index" %}"><img src="{{site.logo.url}}" alt="logo"></a>
            </div>
            <div class="sports_selection">
                
                 <a href="{% url "square:index" "soccer" %}" class="{% if selected_sport == 'soccer' %}active{% endif %}"><div class="sports_menu">soccer</div></a>
                
                
                    <a href="{% url "square:index" "basketball" %}" class="{% if selected_sport == 'basketball' %}active{% endif %}"><div class="sports_menu">basketball</div></a>
                
               
                    <a href="{% url "square:index" "tennis" %}" class="{% if selected_sport == 'tennis' %}active{% endif %}">
                        <div class="sports_menu">tennis </div></a>

                        <a href="{% url "square:premium" %}"style="text-align:center;color:green;font:bold">

                          <div class="sports_menu"style="border:outset;">
                            premium tips
                          </div>
                        </a>

            </div>
     
        </div>
        <div class="market_menu">
              {% if menu %}
                  {% for item in menu %}
                      <a href="{% url 'square:index' selected_sport item day %}" style="display:block;"> <div class="market">{{ item }}</div></a>
                  {% endfor %}
              {% endif %}
        </div>
    </div>

    {% block content %}{% endblock content %}
    <div class="footer">
     
        <div class="contact_in footer_div">
              <h3 style="text-align:center;">contact information</h3>
              <div class="contact_ic">
            <a href="{{ site_info.facebook_link }}" target="_blank">
              <i class="fa-brands fa-facebook icc"></i>
            </a>
           <a href=""><i class="fa-brands fa-telegram icc"></i></a>
           <a href=""> <i class="fa-brands fa-tiktok icc"></i></a></a>
            <a href=""><i class="fa-brands fa-square-twitter icc"></i></a>
            <abbr title="JERUSCORE@GMAIL.COM"><i class="fa-solid fa-envelope icc"></i></abbr>

      </div>
    </div>
       <div class="footer_div">
            <a href="{% url "square:privacy" %}">privacy policy</a> <br><br>
            <a href="{% url "square:terms" %}">terms and condition</a>
       </div>
       <div class="footer_div">
        JERUSCORE@GMAIL.COM
   </div>

      <div class="footer_div adamu">
        &copy;jerusqore <br>
        <small>site by <i>adams square</i></small><br>
        email:1.<small><i>adamssquare4@gmail.com</i></small><br>
        email:2.<small><i>adams.square@yahoo.com</i></small>
      </div>

    </div>
   <a href="#hder"><div class="toprar">&uarr;</div></a>
</body>
</html>
