<!DOCTYPE html>
<html>
<head>
    <title>Fetch Matches</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ENHSFDF7QN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ENHSFDF7QN');
</script>
</head>
<body>
    <h1>Fetch Matches</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Fetch Matches</button>
    </form>
</body>
</html>
