{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
{{ match.match.home_team }} vs {{ match.match.away_team }}
{% endblock title %}

{% block content %}


<div class="current">{{ sport_slug }}</div>
<div class="teamvs">
<div class="match_info">
        <div class="home_info" >{{ match.match.home_team }}</div>
        <div class="t_badge">
            <img src="{{ match.match.home_team_logo }}" alt="Team Logo" 
                 style="width: 100px; height: 100px; object-fit: contain; border-radius: 8px; display: block; margin: auto;">
        </div>
</div>
    
<div class="game_info"> 
    <span class="scoreshow">
        {% if home_score is not None %}{{ home_score }}{% endif %} - {% if away_score is not None %}{{ away_score }}{% endif %}
    </span>
    <span class="match_vs">VS</span><br>
     <span class="match_time">{{ time }}</span> <br>
     <span><u>wind speed </u>&nbsp;<i class="fa-solid fa-wind"></i>&rarr; {{match.match.wind_speed}}m/s&nbsp;<br><br>
        <u>weather condition</u>&nbsp;<i class="fa-solid fa-cloud"></i>&rarr;{{match.match.weather_description}} <br><br>
        <u>temp(feels like)</u> &nbsp;<i class="fa-solid fa-temperature-three-quarters"></i>&rarr;{{match.match.feels_like}}<sup>0</sup>c &nbsp;<br><br>
        <u>humidity</u> &nbsp;<i class="fa-solid fa-droplet"></i>&rarr;{{match.match.humidity}}%</span>
</div>
<div class="match_info">  
    <div class="away_info">{{ match.match.away_team }}</div>
    <div class="t_badge">
        <img src="{{ match.match.away_team_logo }}" alt="Team Logo" 
             style="width: 100px; height: 100px; object-fit: contain; border-radius: 8px; display: block; margin: auto;">
    </div>

</div>

</div>

<div class="match_info_market">
<table border="1" class="square_table">
    <thead>
        <tr>
            <th>Market</th>
            <th>Prediction</th>
            <th>Probability</th>
            <th>Odds</th>
        </tr>
    </thead>
    <tbody>
        {% for market in headers %}
        <tr>
            <!-- Vertical header: Market name -->
            <td>{{ market }}</td>

            <!-- Data for each column: Prediction, Probability, Odds, Result -->
            <td class="stress">{{ match_data|get_item:market|get_item:"prediction" }}</td>
            <td>{{ match_data|get_item:market|get_item:"probability" }}</td>
            <td>{{ match_data|get_item:market|get_item:"odds" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content%}